@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
.fondo {
  background-color: #A41623;
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column; }
  .fondo .fondoTop {
    display: flex;
    justify-content: space-between;
    padding: 2rem; }
  .fondo .targetBody img {
    width: 60px;
    height: 50px;
    margin-right: 1rem; }
  .fondo .redesSociales ul {
    display: flex;
    list-style: none; }
    .fondo .redesSociales ul li {
      transition: all 0.4s;
      text-decoration: none;
      color: #a6aebb;
      padding: 1rem;
      font-size: 2rem; }
      .fondo .redesSociales ul li:hover {
        color: #4a2e2e; }

.colorPie {
  color: #c5c7cb;
  border: none;
  text-align: center;
  font-size: 20px; }

.text-bg {
  background-color: #A41623; }

.btn {
  background-color: #A41623; }

.logo {
  width: 45px;
  border-radius: 5px;
  margin-top: 4px; }

.mainContact {
  padding: 3rem;
  display: flex;
  gap: 2rem; }

.hero {
  background-image: url("../img/Grua_hielo.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif; }
